body {
    font-size: 16px;
    box-sizing: border-box;
    font-family: $opensans;
    font-weight: 400;

    &.no-scroll {
        overflow: hidden;
    }
}

*, *:after, *:before {
    box-sizing: inherit;
}

p {
    line-height: 1.5;
}

.link {
    color: $blue;
    text-decoration: none;
    border-bottom: 1px solid;
    transition: .3s all;

    &:hover {
        border-bottom: 1px solid transparent;
    }
}

img {
    max-width: 100%;
}