/* CONTACTS STYLES */

.page-contact {
    padding-top: 30px;

    &__subtitle {
        max-width: 700px;
    }

    &__form {
        margin-top: 20px;
        padding-bottom: 150px;
    }

    &__content {
        background-image: url('../images/wave-bg.png');
        background-position: 0 115%;
        background-size: 100% auto;
        background-repeat: no-repeat;
    }
}

.contact-form {


    &__submit {
        @include _850 {
            margin-bottom: 30px;
        }
    }


    &__grid {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    &__item {
        width: 46%;
        margin-bottom: 40px;

        &--wide {
            width: 100%;
        }

        &--message {
            margin-top: 80px;
            margin: 0;
        }

        @include _600 {
            width: 100%;
        }
    }

    &__row {
        margin-top: 60px;

        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__personal-check {
        max-width: 600px;
    }
}

.map  {
    height: 600px;
    position: relative;

    &__cartography {
        height: 100%;
        width: 100%;
    }

    &__title{
        color: #044483;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 0;
    }
    &__subtitle{
        color: #2b2929;
        font-size: 28px;
        line-height: 1.3;
        font-weight: 400;
        letter-spacing: -0.65px;
        margin-bottom: 25px;
    }

    &__info {
        width: 90%;
        max-width: 365px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-485px, -50%);
        background-color: #fff;
        padding: 50px 20px 80px 60px;
        box-shadow: 0 5px 10px -1px rgba(0, 0, 0, 0.5);

        @include _1170 {
            transform: translate(0, -50%);
            left: 20px;
        }

        @include _480 {
            left: 50%;
            transform: translate(-50%, -50%);
            padding-left: 30px;
        }
    }
}

.map-info {
    text-decoration: none;
    background-image: url('../images/map-info-bg.png');
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-size: 100% auto;


    &__title {
        color: #044483;
        margin: 0;
    }
    &__phone{
        display: block;
        text-decoration: none;
        color: #4e4d51;
        font-weight: 600;
        font-size: 16px;
    }
    &__email{
        display: block;
        text-decoration: none;
        color: #5db1d3;
        font-family: $roboto;
        font-size: 14px;
        font-weight: 400;
    }
    &__address{
        color: #4e4d51;
        line-height: 1.4;
        display: block;
        text-decoration: none;
        max-width: 160px;
    }
    &__block {
        padding-left: 55px;

        &:first-of-type {
            margin-bottom: 25px;
            margin-top: 10px;
        }
    }
}
/* END CONTACTS STYLES */