/* FEATURES STYLES */

.features {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../images/features-bg.jpg');

    padding: 60px 0;

    @include _600 {
        background-color: $blue;
        background-image: none;
    }

    &__title {
        color: #25d4d4;
        font-size: 22px;
        margin-bottom: 20px;
    }

    &__subtitle {
        color: #fff;
        max-width: 470px;
        line-height: 1.2;

        margin-bottom: 40px;
    }
}

/* END FEATURES STYLES */