/* GREETING STYLES */

.greeting {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #044483;

    &:after {
        content:'';
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(0, 0, 0, .2);
    }

    &--saunas {
        height: 300px;
    }

    &__title {
        z-index: 2;
        // Style for "Вода облеч"
        max-width: 382px;
        color: #fff;
        font-size: 42px;
        line-height: 1.1;
        margin: 0;
        font-weight: 400;
    }
}

/* END GREETING STYLES */