/* HEADER STYLES */

.header {
    background-color: #fff;
    z-index: 30;
    position: relative;

    &--fixed {
        opacity: 0;
        visibility: hidden;

        transform: translateY(-100px);

        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        box-shadow: 0 0 10px 0 rgba(146, 146, 146, .7);
        z-index: 20;

        transition: all .3s, transform .5s;

        &.active {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }

    }

    @include _768 {
        padding: 10px 0;
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__nav{
        flex-grow: 1;
    }

    &__nav-trigger {
        width: 30px;
        height: 30px;
        fill: $blue;
        cursor: pointer;

        display: none;

        @include _768 {
            display: block;
        }
    }


    &__phone{
        color: $dark-blue;
        font-family: $roboto;
        font-weight: 500;
        line-height: 19.67px;
        letter-spacing: -0.24px;
        text-decoration: none;
        position: relative;
        padding-left: 28px;

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            display: inline-block;
            vertical-align: middle;
            width: 22px;
            height: 22px;
            background-image: url('../images/icon-phone.jpg');
        }
    }
}

.nav {
    $nav: &;
    padding: 0 10px;

    &.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        background-position: -20% center, 120% center;

        #{$nav}__cross {
            transform: translateX(0);
            opacity: 1;

            &:hover {
                top: 25px;
            }
        }

    }

    @include _768 {
        opacity: 0;
        visibility: hidden;
        transition: all .5s ease-in-out,
                    background-position 1s ease-in-out .2s;


        transform: translateY(20px);

        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        z-index: 10;
        text-align: center;

        display: flex;
        align-items: center;
        padding: 0;

        background-image: url('../images/wave.svg'), url('../images/wave.svg');
        background-repeat: no-repeat;
        background-position: -80% center, 180% center;
        background-size: 30%;
    }

    &__cross {
        opacity: 0;
        width: 35px;
        height: 35px;
        position: fixed;
        top: 30px;
        right: 30px;
        transition: transform .5s ease-in-out 2s, top .3s ease-in-out;
        transform: translateX(100px);
        cursor: pointer;

        @include _350 {
            width: 30px;
            height: 30px;
        }


    }

    &__list {
        padding-left: 0;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0;

        @include _768 {
            max-height: 100%;
            overflow-y: auto;
            padding: 50px;
        }
    }

    &__item {
        overflow: hidden;

        @include _768 {
            width: 100%;
        }
    }

    &__link {
        display: inline-block;
        transition: .3s all;
        line-height: 12px;
        letter-spacing: -0.4px;
        text-decoration: none;

        padding: 30px 10px;
        position: relative;
        color: $dark;

        &:after {
            content: '';
            width: 100%;
            height: 3px;
            position: absolute;
            transform: translateX(-100%);
            bottom: 0;
            left: 0;
            background-color: transparent;
            transition: .3s all;
        }

        &.active{
            color: $blue;
            pointer-events: none;
            user-select: none;

            @include _768 {

                &:after,&:before {
                    content: '';
                    display: inline-block;
                    position: absolute;
                    width: 60%;
                    height: 1px;
                    transform: translate(-50%, 0);
                    left: 50%;
                    background-color: $blue;
                }

                &:before {
                    top: 0;
                }

            }
        }



        &:hover,
        &.active {
            color: $blue;

            &:after {
                background-color: $blue;
                transform: translateX(0);

                @include _768 {
                    transform: translate(-50%, 0);
                }
            }
        }



        @include _768 {
            font-size: 23px;
            padding: 20px;
            line-height: 1.2;

            opacity: 0;
            visibility: hidden;
            transform: translateY(5px);
            transition: all .3s;

            &.is-active {
                visibility: visible;
                opacity: 1;
                transform: translateX(0);
                transition-duration: .3s;
            }

            &:after {
                height: 1px;
            }
        }

        @include _350 {
            font-size: 20px;
            padding: 15px;
        }




    }
}

.logo {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;

    &__text{
        margin-left: 5px;
        display: inline-block;

        @include _979 {
            display: none;
        }

        @include _768 {
            display: block;
            width: 100px;
        }

        @include _480 {
            display: none;
        }
    }
    &__sign{
        @include _768 {
            width: 50px;
        }
    }
}


/* END HEADER STYLES */