/* ICON-GRID STYLES */

.icon-grid {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // justify-content: space-between;


    &__item {
        width: 25%;
        padding: 0 15px;
        color: #fff;
        margin-bottom: 30px;
        text-align: center;

        @include _979 {
            width: 33.33333%;
        }

        @include _768 {
            width: 50%;
            margin-bottom: 70px;
        }

        @include _600 {
            width: 100%;
        }

        // &:first-child {
        //     margin-left: 0;
        // }

        // &:nth-child(1n + 5) {
        //     margin-left: 0;
        // }

        // &:nth-child(4n + 4) {
        //     margin-right: 0;
        // }

        // &:last-child {
        //     margin-right: 0;
        // }
    }

    &__icon {
        width: 136px;
        height: 134px;
        border: 2px solid #fff;
        border-radius: 50%;

        display: flex;
        justify-content: center;
        align-items: center;

        margin: 0 auto 18px;

        @include _768 {
            background-color: #fff;
        }
    }

    &__text {
        color: #fffefe;
        line-height: 20px;
        margin: 0 auto;
        display: inline-block;
    }
}

/* END ICON-GRID STYLES */