/* PORTFOLIO STYLES */
.portfolio {
    padding-top: 90px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 0 -3%;
    background-image: url('../images/wave-bg.png');

    @include _850 {
        background-position: 0 -30px;
    }

    @include _480 {
        background-position: 0 0;
    }



    &__list {
        padding-left: 0;
        list-style: none;
    }

    &__item {
        position: relative;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        margin-bottom: 78px;
    }

    &__btn-more {
        padding: 16px;
        display: block;
        width: 90%;
        max-width: 280px;
        margin: 100px auto;
        text-align: center;
    }


}



.portfolio-item {
    height: 400px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    &:hover &__info {
        background-color: rgba(0, 0, 0, .8);
    }

    &__info {
        position: absolute;
        right: 0;
        height: 100%;
        top: 0;

        background-color: rgba(0, 0, 0, .3);

        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 48%;
        padding: 37px;

        transition: .3s all;

        @include _850 {
            align-items: flex-end;
            justify-content: flex-start;
            align-content: flex-end;

            width: 60%;
        }

        @include _600 {
            width: 70%;
            background-color: rgba(0, 0, 0, .5);
        }

        @include _480 {
            width: 90%;
        }
    }

    &__text {

        @include _850 {
            margin-bottom: 30px;
        }
    }

    &__title {
        font-size: 22px;
        letter-spacing: -0.51px;
        line-height: 1;
        color: #fff;
        margin: 0;

    }

    &__subtitle {
        font-size: 24px;
        color: #3dc7fa;
        margin: 0;
    }

    &__btn {
        color: #feffff;
        font-family: $opensans;
        font-weight: 900;
        font-size: 14px;
        line-height: 29.02px;
        letter-spacing: -0.43px;
        text-transform: uppercase;
        padding: 6px 53px;
        border: 2px solid #fff;
        border-radius: 40px;
        transition: .3s all;
        text-decoration: none;
        cursor: pointer;

        &:hover {
            background-color: $blue;
            border-color: $blue;
            color: #fff;

        }
    }
}

/* END PORTFOLIO STYLES */