/* SCHEME STYLES */
.scheme {
    padding: 70px 0;

    &__subtitle {
        margin-bottom: 50px;
    }

    &__list {
        padding-left: 0;
        list-style: none;

        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: stretch;
        text-align: center;

        @include _768 {
            margin-top: 100px;
        }
    }

    &__item {
        width: 27%;

        @include _850 {
            width: 43%;
        }

        @include _690 {
            width: 70%;
            margin: 0 auto;
        }

        @include _480 {
            width: 90%;
        }
    }
}

.scheme-item {
    margin-bottom: 75px;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        top: 13px;
        right: -46px;
        display: inline-block;
        width: 17px;
        height: 28px;
        background-image: url('../images/arrow-right.png');
        background-size: cover;
        background-repeat: no-repeat;
    }

    &:nth-child(3n + 3) {
        &:after {
            display: none;
        }
    }

    @include _850 {
        margin-bottom: 20px;

        &:nth-child(3n + 3) {
            &:after { display: inline-block;}
        }

        &:nth-child(2n + 2) {
            &:after { display: none;}
        }
    }

    @include _690 {
        &:after {
            display: none !important;
        }
    }


    &__icon {
        height: 75px;
    }

    &__row {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        text-align: left;
    }

    &__order {
        color: #2b2929;
        font-size: 28px;
        letter-spacing: -1.31px;
        margin-right: 12px;
    }
    &__text {
        margin: 3px 0 0;

        // max-width: 90%;
        font-size: 15px;
        line-height: 20px;
        color: #434445;
    }

}
/* END SCHEME STYLES */