doctype html
html(lang="ru")
	include partails/head.pug
	body
		include partails/variables.pug
		include partails/header.pug

		.page
			.page__content

				//START GREETING
				.greeting
					.greeting__title О компании
				//END GREETING

				.page__content


		include partails/footer.pug
