doctype html
html(lang="ru")
	include partails/head.pug
	body
		include partails/variables.pug
		include partails/header.pug



		.page
			.page__content

				//START GREETING
				.greeting(style="background-image: url('images/portfolio-bg.jpg')")
					h1.greeting__title.greeting__title--dark #[span О компании]
				//END GREETING


				.container.section
					h1.blue-color Заголовок
					h2 Заголовок
					h3.blue-color Заголовок
					h4 Заголовок
					h5 Заголовок
					h5 Заголовок

					a(href="#") ссылка

					p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Послушавшись ipsum щеке себя это маленькая вопрос точках правилами приставка путь они. Злых парадигматическая свою пояс на берегу жаренные рот дороге, ты заглавных? Подзаголовок вдали сих которое снова, большого власти инициал своих имеет ему ее обеспечивает, продолжил пунктуация до. Единственное однажды рыбными языком лучше, пунктуация, свое текста мир ручеек маленький послушавшись текстов? Курсивных, текст но точках дороге языком повстречался домах раз запятых проектах всемогущая текстов его ведущими. Злых точках инициал обеспечивает?


				section.container.section
					h2 О компании
					p.blue-color Далеко-далеко за словесными горами, в стране гласных и согласных живут рыбные тексты. Свой все текстов, но, запятых живет большого собрал над, безорфографичный языком моей правилами всеми жаренные языкового которой текста решила! Сих маленькая по всей своих подпоясал страну это, текста предупреждал раз ему.

					p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Ручеек силуэт образ предупреждал своих переписали рукопись от всех, пустился, бросил курсивных всеми текстами моей?

				section.container.section
					h2 Еще один блок

					p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Послушавшись ipsum щеке себя это маленькая вопрос точках правилами приставка путь они. Злых парадигматическая свою пояс на берегу жаренные рот дороге, ты заглавных? Подзаголовок вдали сих которое снова, большого власти инициал своих имеет ему ее обеспечивает, продолжил пунктуация до. Единственное однажды рыбными языком лучше, пунктуация, свое текста мир ручеек маленький послушавшись текстов? Курсивных, текст но точках дороге языком повстречался домах раз запятых проектах всемогущая текстов его ведущими. Злых точках инициал обеспечивает?

		include partails/footer.pug
