doctype html
html(lang="ru")
	include partails/head.pug
	body
		include partails/variables.pug
		include partails/header.pug

		.page
			.page__content


		//START GREETING
		//END GREETING

		//START GREETING
		//END GREETING

		//START GREETING
		//END GREETING

		//START GREETING
		//END GREETING

		//START GREETING
		//END GREETING

		//START GREETING
		//END GREETING

		//START GREETING
		//END GREETING



		include partails/footer.pug
