doctype html
html(lang="ru")
	include partails/head.pug
	body
		include partails/variables.pug
		include partails/header.pug

		.page
			.page__content
				//START GREETING
				.greeting(style="background-image: url('images/portfolio-bg.jpg')")
					h1.greeting__title.greeting__title--dark #[span Работы,] которыми мы гордимся
				//END GREETING

				//START PORTFOLIO
				.portfolio
					.portfolio__container.container
						ul.portfolio__list
							each item in portfolioList
								li.portfolio__item.portfolio-item
									img.portfolio-item__img(src=item.srcPath, alt="")
									.portfolio-item__info
										.portfolio-item__text
											p.portfolio-item__title #{item.text}
											p.portfolio-item__subtitle #{item.blueText}
										a.portfolio-item__btn.btn.btn--white(href="#") Подробнее
						a.portfolio__btn-more.btn(href="#") Больше проектов
				//END PORTFOLIO




		include partails/footer.pug
