doctype html
html(lang="ru")
	include partails/head.pug
	body
		include partails/variables.pug
		include partails/header.pug


		//START GREETING
		//END GREETING

		//START SERVICES
		//END SERVICES

		include partails/footer.pug
