doctype html
html(lang="ru")
	include partails/head.pug
	body
		include partails/variables.pug
		include partails/header.pug



		.page
			.page__content.water-gray-bg

				//START GREETING
				section.greeting.greeting--sm(style="background-image: url('images/services-header-bg.jpg')")
					h1.greeting__title.greeting__title--dark-span #[span Услуги] Servicepools
				//END GREETING

				//START SERVICES
				section.services.services--page-services
					.services__container.container
						header.services__header
							h2.services__title.headline Услуги
							h3.services__subtitle.headline.headline--sm Мы предлагаем широкий спектр услуг, а именно:

						ul.services__list.services-grid
							each item, index in services
								li.services-grid__item.services-grid__item--active
									a.services-grid__wrap-link(href="#")
										img.services-grid__img(src="images/service-item-"+index+".jpg", alt="")
										.services-grid__content
											p.services-grid__title=item.title
											p.services-grid__descr=item.descr
				//END SERVICES

		include partails/footer.pug
