doctype html
html(lang="ru")
	include partails/head.pug
	body
		include partails/variables.pug
		include partails/header.pug



		.page
			.page__content

				//START GREETING
				.greeting.greting--service(style="background-image: url('images/service-header-bg.jpg')")
				//END GREETING

				//START ABOUT
				.service-about
					.service-about__container.container
						h2.service-about__title.headline.fadeInLeft.wow Компания #[span «Servicepools»] обеспечивает полный комплекс #[span сервисных услуг]

						.service-about__content
							p.service-about__descr.fadeInUp.wow.
								Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
								Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране
								и обеспечивает ее всеми необходимыми правилами.
							p.service-about__descr.fadeInUp.wow.
								Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
								Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране
								и обеспечивает ее всеми необходимыми правилами.

				//END ABOUT


				//START SERVICES POOL
				section.service-pool
					.service-pool__container.container
						h2.service-pool__title.headline.headline--sm.fadeInLeft.wow Сервис
						h3.service-pool__subtitle.headline.fadeInLeft.wow Комплексное обслуживание бассейнов

						ul.service-pool__grid.icon-grid
							each value, index in servicesPool
								li.icon-grid__item.fadeInUp.wow
									.icon-grid__icon
										img.icon-grid__img(src="images/service-pool-icon-"+index+".png", alt="")
									p.icon-grid__text=value

				//END SERVICES POOL


				//START DINAMIC
				section.dinamic
					.dinamic__container.container
						h2.dinamic__title.headline.headline--sm.fadeInDown.wow Статистика
						h3.dinamic__subtitle.headline.fadeInDown.wow Динамики развития компании #[span «Servicepools»] в цифрах




						.dinamic__content.fadeInUp.wow
							ul.dinamic__tabs-triggers
								li.dinamic__tabs-trigger.active.js-tab-trigger(data-tab="works") Выполненные работы
								li.dinamic__tabs-trigger.js-tab-trigger(data-tab="lorem") Кофе
								li.dinamic__tabs-trigger.js-tab-trigger(data-tab="staff") Штат компании
								li.dinamic__tabs-trigger.js-tab-trigger(data-tab="clients") Клиенты

							ul.dinamic__tabs-containers
								li.dinamic__tabs-container.dinamic-container.active.js-tab-content(data-tab="works")
									.dinamic-container__title Проложено более  #[span.js-increment(data-number="12 000 000") 0] метров
									.dinamic-container__progress-block.js-dinamic-animation
										.dinamic-container__row
											.dinamic-container__value.js-dinamic-value 8 425 000
											.dinamic-container__time 2016-2017
										.dinamic-container__line

									.dinamic-container__progress-block.js-dinamic-animation
										.dinamic-container__row
											.dinamic-container__value.js-dinamic-value 4 666 000
											.dinamic-container__time 2014-2015
										.dinamic-container__line

								li.dinamic__tabs-container.dinamic-container.js-tab-content(data-tab="lorem")
									.dinamic-container__title #[span.js-increment(data-number="24 000") 0] чашек кофе выпито клиентами в наших офисах
									.dinamic-container__progress-block.js-dinamic-animation
										.dinamic-container__row
											.dinamic-container__value.js-dinamic-value 14 000
											.dinamic-container__time 2016-2017
										.dinamic-container__line

									.dinamic-container__progress-block.js-dinamic-animation
										.dinamic-container__row
											.dinamic-container__value.js-dinamic-value 10 000
											.dinamic-container__time 2014-2015
										.dinamic-container__line

								li.dinamic__tabs-container.dinamic-container.js-tab-content(data-tab="staff")
									.dinamic-container__title Штат компании более #[span.js-increment(data-number="127") 0] человек
									.dinamic-container__progress-block.js-dinamic-animation
										.dinamic-container__row
											.dinamic-container__value.js-dinamic-value 97
											.dinamic-container__time 2016-2017
										.dinamic-container__line

									.dinamic-container__progress-block.js-dinamic-animation
										.dinamic-container__row
											.dinamic-container__value.js-dinamic-value 37
											.dinamic-container__time 2014-2015
										.dinamic-container__line

								li.dinamic__tabs-container.dinamic-container.js-tab-content(data-tab="clients")
									.dinamic-container__title Более #[span.js-increment(data-number="12 000") 0] довольных клиентов
									.dinamic-container__progress-block.js-dinamic-animation
										.dinamic-container__row
											.dinamic-container__value.js-dinamic-value 7500
											.dinamic-container__time 2016-2017
										.dinamic-container__line

									.dinamic-container__progress-block.js-dinamic-animation
										.dinamic-container__row
											.dinamic-container__value.js-dinamic-value 4000
											.dinamic-container__time 2014-2015
										.dinamic-container__line


				//END DINAMIC

		include partails/footer.pug
