// START FOOTER

footer.footer
    .footer__container.container
        .footer__row
            ul.footer__menu.footer-menu
                each item in menu
                    li.footer-menu__item
                        a.footer-menu__link(href=item.url title="Перейти на страницу - " + item.text)=item.text

            ul.footer__contacts.footer-contacts
                li.footer-contacts__item
                    a.footer-contacts__link(href="tel:89184948841" title="Позвонить") 8 (918) 49 48 888
                li.footer-contacts__item
                    a.footer-contacts__link.footer-contacts__link--email(href="mailto:hello@lUXAR.ru" title="Написать письмо") hello@lUXAR.ru
            ul.footer__address.footer-address
                li.footer-address__item
                    a.footer-address__link(href="https://bit.ly/2xOPjXS" target="_blank" title="Проложить маршрут") ул. Уральская 106/2 350078 Краснодар Россия




script(src="js/main.js")
// END FOOTER

