
//START HEADER
header.header
    .header__container.container
        .header__logo
            a.logo(href="/")
                img.logo__sign(src="images/logo-img.png", alt="")
                img.logo__text(src="images/logo-text.png" alt="")
        nav.header__nav.nav
            ul.nav__list
                each item in menu
                    li.nav__item
                        a.nav__link(href=item.url title="Перейти на страницу - " + item.text)=item.text
        .header__contact
            a.header__phone(href="tel:89184948888") 8 (918) 49 48 888
//END HEADER
