-
	var menu = [
		//- {text:'Главная', url: '/'},
		{text:'О компании', url: 'about.html'},
		{text:'Бассейны', url: 'pools.html'},
		{text:'Сауны', url: 'saunas.html'},
		{text:'Сервис', url: 'service.html'},
		{text:'Портфолио', url: 'portfolio.html'},
		{text:'Контакты', url: 'contacts.html'},
	];

	var services = {
		1: {
			title: 'Строительство бассейнов',
			descr: 'Бассейны Servicepools — это возможность получить совоеменный бассейн по выгодной цене.'
		},
		2: {
			title: 'Строительство саун и хаммамов',
			descr: 'Каждый проект создается с учетом строгих норм строительства — вы можете быть уверены в безопасности объекта.'
		},
		3: {
			title: 'Сервисное обслуживание',
			descr: 'С компанией Servicepools вы забудьте о всех проблемах связанных с вашим бассейном — теперь это наша забота.'
		},
		4: {
			title: 'Химия и оборудование',
			descr: 'Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца. '
		},
	};

	var servicesPool = {
		1: 'Регулярное обслуживание бассейна',
		2: 'Разовое обслуживани бассейна',
		3: 'Подготовка к запуску бассейна, наладка',
		4: 'Ремонт и реконструкци бассейна',
		5: 'Полная диагностик бассейна',
		6: 'Консервация бассейнов'
	};

	var servicesSaunas = {
		1: {
			title: 'Финская сауна',
			descr: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo dolor.'
		},
		2: {
			title: 'Хаммам',
			descr: 'Lorem ipsum dolor sit amet, consectetuer contert adipiscing elit. Aenean commodo dolor mirt charter.'
		},
		3: {
			title: 'Паровая кабина',
			descr: 'Lorem ipsum dolor sit amet, consectetuer retcotn adipiscing elit. Aenean commodo ligul groupers a eget dolor.'
		},
		4: {
			title: 'Инфракрасная кабина',
			descr: 'Lorem ipsum dolor sit amet, consectetuer cronteradipiscing elit. Aenean commodo ligula dolor mernitas.'
		},
	};

	var features = {
		1:'Высокое качество материалов',
		2:'Современные технологии и оборудование',
		3:'Профессиональная команда ',
		4:'Выполнем работы точно в срок',
		5:'Даем гарантинтии по договору',
		6:'Многолетний опыт работы',
	}

	var schemes = {
		1:'Оставьте заявку на сайте или позвоните нашим операторам',
		2:'С вами свяжется менеджер для консультации и составления предварительной сметы',
		3:'Уточнение деталей, заключение договора',
		4:'Разработка дизайн-проекта, технического проекта',
		5:'Строительство объекта и сдача проекта в точный срок',
		6:'Гарантийное и сервисное обслуживание',
	};


	var detailParams = [
		{title: 'Модель', value: 'X-Trainer LM'},
		{title: 'Длина', subtitle: 'Внешняя /Внутренняя', value: '11,00 / 10,06'},
		{title: 'Ширина', subtitle: 'Внешняя /Внутренняя', value: '4,05 / 3,70'}
	];

	var reviews = [
		{name: 'Александр', src: 'images/review-man.jpg'},
		{name: 'Алиса', src: 'images/review-man.jpg'},
		{name: 'Юрий', src: 'images/review-man.jpg'},
		{name: 'Евгений', src: 'images/review-man.jpg'},
		{name: 'Алина', src: 'images/review-man.jpg'},
		{name: 'Даниил', src: 'images/review-man.jpg'}
	];

	var portfolioList = [
		{text:'Бассейн', blueText: 'Villagio', srcPath: 'images/portfolio-img-1.jpg'},
		{text:'Бассейн', blueText: 'Частный дом', srcPath: 'images/portfolio-img-2.jpg'},
		{text:'Бассейн', blueText: 'Cariity', srcPath: 'images/portfolio-img-3.jpg'},
		{text:'Печной угол', blueText: 'с Cteinwyd', srcPath: 'images/portfolio-img-4.jpg'},
	];